n8n_workflows/03_customer_matching_and_ticket_creation.json
{
  "name": "03_Customer_Matching_and_Ticket_Creation",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "settings": {
    "availableInMCP": true,
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "active": true,
  "connections": {
    "Execute Trigger": {
      "main": [
        [
          {
            "node": "Search ERPNext Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search ERPNext Customer": {
      "main": [
        [
          {
            "node": "Customer Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Found?": {
      "main": [
        [
          {
            "node": "Create Opportunity for Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Lead API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opportunity for Customer": {
      "main": [
        [
          {
            "node": "Merge Matching Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Lead API": {
      "main": [
        [
          {
            "node": "Lead Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Found?": {
      "main": [
        [
          {
            "node": "Create Opportunity for Lead API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Lead API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Lead API": {
      "main": [
        [
          {
            "node": "Create Opportunity for Lead API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Opportunity for Lead API": {
      "main": [
        [
          {
            "node": "Merge Matching Outputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Matching Outputs": {
      "main": [
        [
          {
            "node": "Prepare Inquiry Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Inquiry Payload": {
      "main": [
        [
          {
            "node": "Create Inquiry Ticket API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Inquiry Ticket API": {
      "main": [
        [
          {
            "node": "Has Attachments To Upload?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Attachments To Upload?": {
      "main": [
        [
          {
            "node": "Split Files for Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Upload Outputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Files for Upload": {
      "main": [
        [
          {
            "node": "Upload File to ERPNext API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File to ERPNext API": {
      "main": [
        [
          {
            "node": "Merge Upload Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Upload Outputs": {
      "main": [
        [
          {
            "node": "Notify Sales Engineer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "parameters": {},
      "id": "a9dbf120-cf9c-4932-b2a8-fbe0ab7201bd",
      "name": "Execute Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        112,
        288
      ]
    },
    {
      "parameters": {
        "url": "https://onespace.kayan-eg.net/api/method/kayan_inquiry_management.api.search_customer",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "company_name",
              "value": "={{ $('Execute Trigger').first().json.company_name || '' }}"
            },
            {
              "name": "email",
              "value": "={{ $('Execute Trigger').first().json.from || '' }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "e9dbf120-cf9c-4932-b2a8-fbe0ab7201be",
      "name": "Search ERPNext Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        304,
        288
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "erpnext-api-token-id",
          "name": "ERPNext API Token Credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-customer-found",
              "leftValue": "={{ $json.message && $json.message.data && $json.message.data.length > 0 }}",
              "operator": {
                "operation": "true",
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "f5cde21c-ae38-4e89-9a2f-b42e0a298cb3",
      "name": "Customer Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        528,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://onespace.kayan-eg.net/api/method/kayan_inquiry_management.api.create_opportunity_for_inquiry",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": {
          "opportunity_from": "Customer",
          "party_name": "={{ $json.message.data[0].name }}"
        },
        "options": {}
      },
      "id": "31b26ae3-02f8-4100-abef-ffde122a2bb4",
      "name": "Create Opportunity for Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        784,
        208
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "erpnext-api-token-id",
          "name": "ERPNext API Token Credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "https://onespace.kayan-eg.net/api/method/kayan_inquiry_management.api.search_lead",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Execute Trigger').first().json.from || '' }}"
            },
            {
              "name": "company_name",
              "value": "={{ $('Execute Trigger').first().json.company_name || '' }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "31b26ae3-02f8-4100-abef-ffde122a2bb5",
      "name": "Search Lead API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        784,
        384
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "erpnext-api-token-id",
          "name": "ERPNext API Token Credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-lead-found",
              "leftValue": "={{ $json.message && $json.message.data && $json.message.data.length > 0 }}",
              "operator": {
                "operation": "true",
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "f5cde21c-ae38-4e89-9a2f-b42e0a298cb4",
      "name": "Lead Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        992,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://onespace.kayan-eg.net/api/method/kayan_inquiry_management.api.create_lead_for_inquiry",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": {
          "company_name": "={{ $('Execute Trigger').first().json.company_name || '' }}",
          "email_id": "={{ $('Execute Trigger').first().json.from || '' }}",
          "lead_name": "={{ $('Execute Trigger').first().json.customer_name || $('Execute Trigger').first().json.from || 'Inquiry Contact' }}",
          "phone": "={{ $('Execute Trigger').first().json.phone || '' }}"
        },
        "options": {}
      },
      "id": "31b26ae3-02f8-4100-abef-ffde122a2bb6",
      "name": "Create New Lead API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1216,
        560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "erpnext-api-token-id",
          "name": "ERPNext API Token Credentials"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://onespace.kayan-eg.net/api/method/kayan_inquiry_management.api.create_opportunity_for_inquiry",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": {
          "opportunity_from": "Lead",
          "party_name": "={{ ($json.message && $json.message.data && $json.message.data.length > 0) ? $json.message.data[0].name : $json.message.name }}"
        },
        "options": {}
      },
      "id": "31b26ae3-02f8-4100-abef-ffde122a2bb7",
      "name": "Create Opportunity for Lead API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1456,
        368
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "erpnext-api-token-id",
          "name": "ERPNext API Token Credentials"
        }
      }
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "ef8cbe2c-bfb0-4da2-bd32-ae0193ca8bee",
      "name": "Merge Matching Outputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1728,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Execute Trigger').first().json;\nlet customer = \"\";\nlet lead = \"\";\nlet opportunity = \"\";\n\n// Fix: Handle Frappe API response envelope (message wrapper)\ntry {\n  const customerOpp = $('Create Opportunity for Customer').first();\n  if (customerOpp) {\n    const d = customerOpp.json.message || customerOpp.json.data || customerOpp.json;\n    opportunity = d.name || '';\n    customer = d.party_name || '';\n  }\n} catch(e) { /* Customer path not taken */ }\n\ntry {\n  const leadOpp = $('Create Opportunity for Lead API').first();\n  if (leadOpp) {\n    const d = leadOpp.json.message || leadOpp.json.data || leadOpp.json;\n    opportunity = d.name || '';\n    lead = d.party_name || '';\n  }\n} catch(e) { /* Lead path not taken */ }\n\nconst formattedItems = (trigger.items || []).map(item => ({\n  item_description: item.description,\n  quantity: item.quantity,\n  uom: item.uom || 'Nos'\n}));\n\n// Use classification from upstream if available, fallback to RFQ\nconst inquiryType = trigger.classification || 'RFQ';\n\n// Safe Datetime formatter for MySQL/Frappe (received_date)\nlet formattedReceivedDate = '';\nif (trigger.date) {\n  try {\n    const d = new Date(trigger.date);\n    if (!isNaN(d.getTime())) {\n      formattedReceivedDate = d.toISOString().replace('T', ' ').substring(0, 19);\n    }\n  } catch (err) {\n    // Ignore invalid date\n  }\n}\n\n// Safe Date formatter for MySQL/Frappe (due_date)\nlet formattedDueDate = '';\nif (trigger.due_date) {\n  try {\n    const d = new Date(trigger.due_date);\n    if (!isNaN(d.getTime())) {\n      formattedDueDate = d.toISOString().substring(0, 10);\n    }\n  } catch (err) {\n    // Ignore invalid date\n  }\n}\n\nreturn [{\n  json: {\n    inquiry_type: inquiryType,\n    customer: customer || null,\n    lead: lead || null,\n    opportunity: opportunity || null,\n    company_name: trigger.company_name || '',\n    contact_person: trigger.customer_name || '',\n    contact_phone: trigger.phone || '',\n    contact_email: trigger.from || '',\n    delivery_location: trigger.delivery_location || '',\n    due_date: formattedDueDate,\n    tender_number: trigger.tender_number || '',\n    source_mailbox: trigger.source_mailbox || '',\n    original_email_subject: trigger.subject || '',\n    received_date: formattedReceivedDate,\n    ai_classification: trigger.classification || '',\n    ai_confidence: trigger.confidence || 0,\n    ai_provider: trigger.ai_provider || '',\n    status: 'New',\n    line_items: formattedItems,\n    attachments: trigger.attachments || []\n  }\n}];"
      },
      "id": "6bf42ea3-88bc-4bc9-a83d-dcf428cbef88",
      "name": "Prepare Inquiry Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://onespace.kayan-eg.net/api/resource/Inquiry Ticket",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.fromEntries(Object.entries({ inquiry_type: $json.inquiry_type, customer: $json.customer, lead: $json.lead, opportunity: $json.opportunity, company_name: $json.company_name, contact_person: $json.contact_person, contact_phone: $json.contact_phone, contact_email: $json.contact_email, delivery_location: $json.delivery_location, due_date: $json.due_date, tender_number: $json.tender_number, source_mailbox: $json.source_mailbox, original_email_subject: $json.original_email_subject, received_date: $json.received_date, ai_classification: $json.ai_classification, ai_confidence: $json.ai_confidence, ai_provider: $json.ai_provider, status: $json.status, line_items: $json.line_items }).filter(([k, v]) => v !== null && v !== undefined && v !== ''))) }}",
        "options": {}
      },
      "id": "31b26ae3-02f8-4100-abef-ffde122a2bc8",
      "name": "Create Inquiry Ticket API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2144,
        288
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "erpnext-api-token-id",
          "name": "ERPNext API Token Credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-has-attachments",
              "leftValue": "={{ $('Execute Trigger').first().binary ? Object.keys($('Execute Trigger').first().binary).length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "greaterThan"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "93b2df0f-c3f2-4934-8be0-b98a1293a9d4",
      "name": "Has Attachments To Upload?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2368,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const triggerData = $('Execute Trigger').first();\nconst results = [];\n\nif (triggerData.binary) {\n  for (const key of Object.keys(triggerData.binary)) {\n    const file = triggerData.binary[key];\n    results.push({\n      json: {\n        filename: file.fileName || file.name || 'attachment',\n        mimeType: file.mimeType || '',\n        binaryKey: key\n      },\n      binary: {\n        attachment: file\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "cbf82db0-c9a9-40b9-87a3-e29fba9e2ab4",
      "name": "Split Files for Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://onespace.kayan-eg.net/api/method/upload_file",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "bodyFormat": "multipart-form-data",
        "formData": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "attachment"
            },
            {
              "name": "doctype",
              "value": "Inquiry Ticket"
            },
            {
              "name": "docname",
              "value": "={{$('Create Inquiry Ticket API').first().json.name}}"
            },
            {
              "name": "is_private",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "da8f121d-a3df-40be-b4db-ef7eab3c4b94",
      "name": "Upload File to ERPNext API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2768,
        192
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "erpnext-api-token-id",
          "name": "ERPNext API Token Credentials"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "ef8cbe2c-bfb0-4da2-bd32-ae0193ca8bef",
      "name": "Merge Upload Outputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3008,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://onespace.kayan-eg.net/api/method/kayan_inquiry_management.api.send_sales_engineer_notification",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inquiry\": \"{{$('Create Inquiry Ticket API').first().json.name}}\",\n  \"type\": \"Email\",\n  \"recipient_role\": \"Sales Engineer\",\n  \"template\": \"new_inquiry_assigned\"\n}",
        "options": {}
      },
      "id": "31b26ae3-02f8-4100-abef-ffde122a2bc0",
      "name": "Notify Sales Engineer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3232,
        288
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "erpnext-api-token-id",
          "name": "ERPNext API Token Credentials"
        }
      }
    }
  ],
  "tags": []
}
